In [ ]:
##What professors have taught the most classes
%%sql
SELECT Faculty_Name, COUNT(DISTINCT Cat_ID) AS Classes_Taught
FROM Courses
    JOIN Faculty USING FID
WHERE Actual > 10
GROUP BY Classes_Taught DESC;

In [ ]:
##Total students professors have taught
%%sql
SELECT Faculty_Name, SUM(Actual) AS Total_Taught
FROM Courses
    JOIN Faculty USING FID
WHERE Actual > 10
SORT BY Total_Taught DESC;

In [ ]:
##What days are popular for certain classes
%%sql
SELECT DISTINCT Cat_ID AS Class_Type, Day, COUNT(Day) AS Num_Days
FROM Courses
    JOIN Course_Meeting USING CRN
WHERE Actual > 10
SORT BY Num_Days DESC;

In [ ]:
##What classes are popular with certain professors
%%sql
SELECT Cat_ID, Faculty_Name, Remaining
FROM Courses
    JOIN Course_Meeting USING CRN
    JOIN Faculty USING FID
WHERE Actual > 10
SORT BY Remaining;

In [ ]:
##What classes are popular at certain times
%%sql
SELECT Cat_ID, Start_Time, Remaining
FROM Courses
    JOIN Course_Meeting USING CRN
WHERE Actual > 10
SORT BY Remaining;

In [ ]:
##How many students did internships for credit
%%sql
SELECT Title, Sum(Actual) AS Total_Students
FROM Courses
WHERE Title = "Internship";

In [ ]:
##How many students took AC 11 by term
%%sql
SELECT Cat_ID, Term, Sum(Actual) AS Total_Students
FROM Courses
WHERE = "AC 0011"
GROUP BY Term
SORT BY DESC;

In [ ]:
##What class by term has had the most sections
%%sql 
SELECT Cat_ID, Term, COUNT(section) AS Num_Sections
FROM Courses
GROUP BY Term
SORT BY Num_Sections DESC;

In [ ]:
##What classes has Huntley taught by semester
%%sql
SELECT Faculty_Name, Term, Cat_ID, title
FROM Courses
    JOIN Faculty USING FID
WHERE Faculty_Name = "%Huntley%"
SORT BY Term;

In [ ]:
#What classes has Massey taught by semester
%%sql
SELECT Faculty_Name, Term, Cat_ID, title
FROM Courses
    JOIN Faculty USING FID
WHERE Faculty_Name = "%Massey%"
SORT BY Term;