In [1]:
%load_ext sql
import pandas as pd
import sqlite3

In [2]:
%sql sqlite:///CourseDataWarehouseData.db
conn = sqlite3.connect('CourseDataWarehouseData.db')

In [3]:
%%sql
DROP TABLE IF EXISTS Course_Facts;
DROP TABLE IF EXISTS Location;
DROP TABLE IF EXISTS Program;
DROP TABLE IF EXISTS Meeting;
DROP TABLE IF EXISTS Fees;


DROP TABLE IF EXISTS IMPORT_COURSE_OFFERINGS;
DROP TABLE IF EXISTS IMPORT_COURSE_MEETINGS;
DROP TABLE IF EXISTS IMPORT_CATALOG_COURSES;

 * sqlite:///CourseDataWarehouseData.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [4]:
%%sql

CREATE TABLE Location (
    LID INTEGER PRIMARY KEY,
    Room TEXT
);

 * sqlite:///CourseDataWarehouseData.db
Done.

[]

In [5]:
%%sql

CREATE TABLE Program (
    PID INTEGER PRIMARY KEY,
    Prg_Code VARCHAR(10),
    Program_Name VARCHAR(150)
);

 * sqlite:///CourseDataWarehouseData.db
Done.

[]

In [6]:
%%sql

CREATE TABLE Fees (
    Fee_ID INTEGER PRIMARY KEY,
    Cat_ID VARCHAR(10),
    Academic_Year VARCHAR(20),
    Amount VARCHAR(50)
);

 * sqlite:///CourseDataWarehouseData.db
Done.

[]

In [7]:
%%sql

CREATE TABLE Meeting (
    MID INTEGER PRIMARY KEY,
    Day TEXT,
    Start_Time TIME,
    End_Time TIME  
);

 * sqlite:///CourseDataWarehouseData.db
Done.

[]

In [8]:
%%sql

CREATE TABLE Course_Facts (
    CRN SMALLINT,
    Term VARCHAR(20),
    Faculty_Name VARCHAR(10),
    Section VARCHAR(10),
    Cat_ID VARCHAR(10),
    LID VARCHAR(10),
    MID VARCHAR(10),
    PID VARCHAR(10),
    FEE_ID VARCHAR(10),
    Capacity SMALLINT,
    Actual SMALLINT,
    Remaining SMALLINT,
    PRIMARY KEY (CRN, Term)
    FOREIGN KEY(LID) REFERENCES Location(LID)
);

 * sqlite:///CourseDataWarehouseData.db
Done.

[]

In [9]:

#Catalog Data
catalog_years = ['2017_2018', '2018_2019']

for cat_year in catalog_years:
    filepath = '../SourceData/Catalogs/CourseCatalog'+cat_year+'.csv'
    data = pd.read_csv(filepath)
    data['cat_year'] = cat_year
    data.to_sql('IMPORT_CATALOG_COURSES',conn,if_exists='append',index=False)

In [10]:
#Course Offering and Course Meeting Data
terms = ['Fall2014','Fall2015','Fall2016','Fall2017','Fall2018',
         'Spring2015','Spring2016','Spring2017','Spring2018','Spring2019',
        'SpringBreak2017',
         'Summer2015','Summer2016','Summer2017','Summer2018',
         'Winter2015','Winter2016','Winter2017','Winter2018']

for term in terms:
    filepath = '../SourceData/'+term+'/courses.csv'
    data = pd.read_csv(filepath)
    data.to_sql('IMPORT_COURSE_OFFERINGS',conn,if_exists='append',index=False) 
    
    filepath = '../SourceData/'+term+'/course_meetings.csv'
    data = pd.read_csv(filepath)
    data.to_sql('IMPORT_COURSE_MEETINGS',conn,if_exists='append',index=False)

## Insert into tables

In [11]:
%%sql

INSERT INTO Location (Room)
SELECT DISTINCT location 
FROM IMPORT_COURSE_MEETINGS;

 * sqlite:///CourseDataWarehouseData.db
207 rows affected.

[]

In [12]:
%%sql

SELECT *
FROM Location
LIMIT 20

 * sqlite:///CourseDataWarehouseData.db
Done.

[(1, 'DSB 105'),
 (2, 'DSB 111'),
 (3, 'DSB 110A'),
 (4, 'DSB 108'),
 (5, 'DSB 110B'),
 (6, 'DSB 104'),
 (7, 'DSB 112'),
 (8, 'DSB 109'),
 (9, 'DSB 115'),
 (10, 'DSB 2109A'),
 (11, 'CNS 5'),
 (12, 'CNS 108'),
 (13, 'CNS 106'),
 (14, 'BNW 254'),
 (15, 'SON 124'),
 (16, 'CNS 303'),
 (17, 'CNS 305'),
 (18, 'BNW 137'),
 (19, 'CNS 15'),
 (20, 'CNS 208')]

In [13]:
%%sql

INSERT INTO Program (Prg_Code, Program_Name)
SELECT DISTINCT program_code, program_name 
FROM IMPORT_CATALOG_COURSES;

 * sqlite:///CourseDataWarehouseData.db
83 rows affected.

[]

In [14]:
%%sql

INSERT INTO Meeting (Day, Start_Time, End_Time)
SELECT DISTINCT day, start, end
FROM IMPORT_COURSE_MEETINGS

 * sqlite:///CourseDataWarehouseData.db
42551 rows affected.

[]

In [15]:
%%sql

INSERT INTO Fees (Cat_ID, Academic_Year, Amount )
SELECT DISTINCT catalog_id, cat_year, fees
FROM IMPORT_CATALOG_COURSES;

 * sqlite:///CourseDataWarehouseData.db
4440 rows affected.

[]

In [16]:
     LEFT JOIN Location ON IMPORT_COURSE_MEETINGS.location = Location.Room

SyntaxError: invalid syntax (<ipython-input-16-748e4be8a419>, line 1)

In [17]:
%%sql

INSERT INTO Course_Facts (CRN, Term, Faculty_Name, Cat_ID, Section, Capacity, Actual, Remaining)
SELECT crn, term, primary_instructor, catalog_id, section,  cap, act, rem
FROM IMPORT_COURSE_OFFERINGS
        LEFT JOIN IMPORT_COURSE_MEETINGS ON (IMPORT_COURSE_OFFERINGS.crn= IMPORT_COURSE_MEETINGS.crn AND IMPORT_COURSE_OFFERINGS.term= IMPORT_COURSE_MEETINGS.term);

 * sqlite:///CourseDataWarehouseData.db
(sqlite3.OperationalError) ambiguous column name: crn [SQL: 'INSERT INTO Course_Facts (CRN, Term, Faculty_Name, Cat_ID, Section, Capacity, Actual, Remaining)\nSELECT crn, term, primary_instructor, catalog_id, section,  cap, act, rem\nFROM IMPORT_COURSE_OFFERINGS\n        LEFT JOIN IMPORT_COURSE_MEETINGS ON (IMPORT_COURSE_OFFERINGS.crn= IMPORT_COURSE_MEETINGS.crn AND IMPORT_COURSE_OFFERINGS.term= IMPORT_COURSE_MEETINGS.term);'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [18]:
%%sql

SELECT *
FROM Course_Facts
LIMIT 20;

 * sqlite:///CourseDataWarehouseData.db
Done.

[]

In [20]:
%%sql 

DROP TABLE IF EXISTS IMPORT_COURSE_OFFERINGS;
DROP TABLE IF EXISTS IMPORT_COURSE_MEETINGS;
DROP TABLE IF EXISTS IMPORT_CATALOG_COURSES;

 * sqlite:///CourseDataWarehouseData.db
Done.
Done.
Done.

[]