In [3]:
%load_ext sql
import pandas as pd
import sqlite3

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%sql sqlite:///CourseDataWarehouse.db
conn = sqlite3.connect('CourseDataWarehouse.db')

How many classes taught by each professor?

In [7]:
%%sql
SELECT Faculty_Name, COUNT(Cat_ID) AS Classes_Taught
FROM Courses
GROUP BY Faculty_Name
ORDER BY Classes_Taught DESC
LIMIT 20;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Sonya R.  Huber', 214),
 ('Nicole Elizabeth  Heller', 160),
 ('Sarah Jennie  Bollinger', 131),
 ('TBA', 120),
 ('Laura   Nash', 115),
 ('Kamala   Kiem', 96),
 ('Rose P.  Rodrigues', 74),
 ('Nancy A.  Moriber', 72),
 ('Michael P.  Pagano', 71),
 ('Michael C.  White', 70),
 ('Qin   Zhang', 68),
 ('Philip J.  Lane', 61),
 ('Robert A.  Hardy', 61),
 ('Jeffrey N.  Denenberg', 60),
 ('Amalia I.  Rusu', 59),
 ('Linda A.  Henkel', 59),
 ('Anthony J.  DeCristofaro', 58),
 ('James E.  Biardi', 58),
 ('Bidyut B.  Das', 56),
 ('David W.  McFadden', 56)]

Total number of students professors have taught

In [8]:
%%sql
SELECT Faculty_Name, SUM(Actual) AS Total_Taught
FROM Courses
WHERE Actual > 10
GROUP BY Faculty_Name
ORDER BY Total_Taught DESC
LIMIT 20;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Nicole Elizabeth  Heller', 3214),
 ('Kamala   Kiem', 1990),
 ('Diana R.  Mager', 1716),
 ('Anthony J.  DeCristofaro', 1434),
 ('Christine   Earls', 1419),
 ('John E.  Neal', 1199),
 ('Mary M  Murphy', 1132),
 ('Milo W.  Peck', 1088),
 ('Rose P.  Rodrigues', 1087),
 ('Nancy A.  Moriber', 1082),
 ('Katherine Marie  Saracino', 1080),
 ('Paul P.  Daulerio', 1049),
 ('Jo Ann   Drusbosky', 1027),
 ('Eileen   Reilly-Wiedow', 1002),
 ('Bidyut B.  Das', 970),
 ('Michael P.  Pagano', 927),
 ('Sharlene A.  McEvoy', 926),
 ('Lisa A.  Mainiero', 920),
 ('Mary Sallyanne   Ryan', 894),
 ('Todd P.  Martin', 884)]

What days are popular for certain classes?

In [9]:
%%sql
SELECT DISTINCT Cat_ID AS Class_Type, Day, COUNT(Day) AS Num_Days
FROM Courses
    JOIN Course_Meeting USING (CRN)
WHERE Actual > 10
GROUP BY Day, Class_Type
ORDER BY Num_Days DESC
LIMIT 20;

 * sqlite:///CourseDataWarehouse.db
Done.

[('EN 0012', 'T', 2810),
 ('EN 0012', 'R', 2569),
 ('EN 0012', 'M', 2469),
 ('EN 0012', 'F', 2337),
 ('EN 0011', 'M', 2055),
 ('EN 0011', 'T', 2001),
 ('EN 0011', 'F', 1889),
 ('PH 0101', 'R', 1867),
 ('PH 0101', 'T', 1840),
 ('PH 0101', 'M', 1828),
 ('EN 0011', 'R', 1772),
 ('HI 0010', 'M', 1669),
 ('HI 0010', 'R', 1565),
 ('SP 0111', 'W', 1333),
 ('SP 0210', 'W', 1313),
 ('SP 0210', 'R', 1308),
 ('PH 0101', 'F', 1299),
 ('SP 0210', 'M', 1262),
 ('SP 0111', 'M', 1205),
 ('MA 0217', 'R', 1203)]

Which courses in 2017-2018 had data in the "Fee" field?

In [15]:
%%sql

SELECT Cat_ID, Amount, Academic_Year
FROM Fees1
WHERE Academic_Year IS '2017_2018'
LIMIT 25;

 * sqlite:///CourseDataWarehouse.db
Done.

[('BI 0107', '$55 Science Lab Fee', '2017_2018'),
 ('BI 0108', '$55 Science Lab Fee', '2017_2018'),
 ('SA 0011', '$55 Materials Fee', '2017_2018'),
 ('BI 0151', '$55 Science Lab Fee', '2017_2018'),
 ('SA 0012', '$55 Materials Fee', '2017_2018'),
 ('SA 0013', '$55 Materials Fee', '2017_2018'),
 ('SA 0014', '$55 Materials Fee', '2017_2018'),
 ('SA 0015', '$55 Materials Fee', '2017_2018'),
 ('SA 0016', '$55 Materials Fee', '2017_2018'),
 ('BI 0170', '$55 Science Lab Fee', '2017_2018'),
 ('BI 0171', '$55 Science Lab Fee', '2017_2018'),
 ('SA 0100', '$55 Materials Fee', '2017_2018'),
 ('SA 0101', '$55 Materials Fee', '2017_2018'),
 ('BI 0172', '$55 Science Lab Fee', '2017_2018'),
 ('SA 0105', '$55 Materials Fee', '2017_2018'),
 ('SA 0130', '$55 Materials Fee', '2017_2018'),
 ('SA 0132', '$55 Materials Fee', '2017_2018'),
 ('SA 0133', '$105 Materials Fee', '2017_2018'),
 ('SA 0134', '$105 Materials Fee', '2017_2018'),
 ('SA 0136', '$55 Materials Fee', '2017_2018'),
 ('SA 0137', '$55 Materials Fee', '2017_2018'),
 ('SA 0138', '$55 Materials Fee', '2017_2018'),
 ('SA 0139', '$55 Materials Fee', '2017_2018'),
 ('SA 0230', '$55 Materials Fee', '2017_2018'),
 ('SA 0231', '$55 Materials Fee', '2017_2018')]

Which classes (by title) are in which programs?

In [28]:
%%sql

SELECT Title, Program1.Program_Name
FROM Course_Facts
JOIN Program1 ON Course_Facts.PID = Program1.PID
GROUP BY Title
LIMIT 25;

 * sqlite:///CourseDataWarehouse.db
Done.

[('19th Century Romanticism in Music', 'Music'),
 ('19th-Century Russian Novel and World Literature', 'English'),
 ('20th Century British Literature', 'English'),
 ('20th Century Philosophy', 'Philosophy'),
 ('20th Century Russia', 'History'),
 ('20th Century Spanish Literature', 'Spanish'),
 ('20th Century United States', 'History'),
 ('21st Century Literacies in the Classroom', 'Educational Technology'),
 ('21st Century Power Politics', 'Politics'),
 ('Abnormal Psychology for Majors', 'Psychology'),
 ('Abnormal Psychology for Non-Majors', 'Psychology'),
 ('Abstract Algebra', 'Mathematics'),
 ('Accelerated Statistics', 'Mathematics'),
 ('Accounting Information Systems', 'Accounting'),
 ('Accounting Information Systems and Technology', 'Accounting'),
 ('Accounting Information for Decision-Making', 'Accounting'),
 ('Accounting for Governments, Hospitals, and Universities', 'Accounting'),
 ('Achieving an Interdisciplinary Approach to Teaching through Technology', 'Educational Technology'),
 ('Acting I', 'Theatre'),
 ('Acting II', 'Theatre'),
 ('Acting for the Camera', 'Film, Television, and Media Arts'),
 ('Actuarial Problem Solving', 'Mathematics'),
 ('Adult Health I', 'Nursing'),
 ('Adult Health II', 'Nursing'),
 ('Advanced Abstract Algebra', 'Mathematics')]