In [1]:
%load_ext sql
import pandas as pd
import sqlite3

In [2]:
%sql sqlite:///CourseDataWarehouse.db
conn = sqlite3.connect('CourseDataWarehouse.db')

How many classes taught by each professor?

In [3]:
%%sql
SELECT Faculty_Name, COUNT(Cat_ID) AS Classes_Taught
FROM Courses
GROUP BY Faculty_Name
ORDER BY Classes_Taught DESC
LIMIT 20;

 * sqlite:///CourseDataWarehouse.db
(sqlite3.OperationalError) no such table: Courses [SQL: 'SELECT Faculty_Name, COUNT(Cat_ID) AS Classes_Taught\nFROM Courses\nGROUP BY Faculty_Name\nORDER BY Classes_Taught DESC\nLIMIT 20;'] (Background on this error at: http://sqlalche.me/e/e3q8)

Total number of students professors have taught

In [4]:
%%sql
SELECT Faculty_Name, SUM(Actual) AS Total_Taught
FROM Courses
WHERE Actual > 10
GROUP BY Faculty_Name
ORDER BY Total_Taught DESC
LIMIT 20;

 * sqlite:///CourseDataWarehouse.db
(sqlite3.OperationalError) no such table: Courses [SQL: 'SELECT Faculty_Name, SUM(Actual) AS Total_Taught\nFROM Courses\nWHERE Actual > 10\nGROUP BY Faculty_Name\nORDER BY Total_Taught DESC\nLIMIT 20;'] (Background on this error at: http://sqlalche.me/e/e3q8)

What days are popular for certain classes?

In [5]:
%%sql
SELECT DISTINCT Cat_ID AS Class_Type, Day, COUNT(Day) AS Num_Days
FROM Courses
    JOIN Course_Meeting USING (CRN)
WHERE Actual > 10
GROUP BY Day, Class_Type
ORDER BY Num_Days DESC
LIMIT 20;

 * sqlite:///CourseDataWarehouse.db
(sqlite3.OperationalError) no such table: Courses [SQL: 'SELECT DISTINCT Cat_ID AS Class_Type, Day, COUNT(Day) AS Num_Days\nFROM Courses\n    JOIN Course_Meeting USING (CRN)\nWHERE Actual > 10\nGROUP BY Day, Class_Type\nORDER BY Num_Days DESC\nLIMIT 20;'] (Background on this error at: http://sqlalche.me/e/e3q8)

Which courses in 2017-2018 had data in the "Fee" field?

In [6]:
%%sql

SELECT Cat_ID, Amount, Academic_Year
FROM Fees1
WHERE Academic_Year IS '2017_2018'
LIMIT 25;

 * sqlite:///CourseDataWarehouse.db
(sqlite3.OperationalError) no such table: Fees1 [SQL: "SELECT Cat_ID, Amount, Academic_Year\nFROM Fees1\nWHERE Academic_Year IS '2017_2018'\nLIMIT 25;"] (Background on this error at: http://sqlalche.me/e/e3q8)

Which classes (by title) are in which programs?

In [7]:
%%sql

SELECT Title, Program1.Program_Name
FROM Course_Facts
JOIN Program1 ON Course_Facts.PID = Program1.PID
GROUP BY Title
LIMIT 25;

 * sqlite:///CourseDataWarehouse.db
(sqlite3.OperationalError) no such table: Course_Facts [SQL: 'SELECT Title, Program1.Program_Name\nFROM Course_Facts\nJOIN Program1 ON Course_Facts.PID = Program1.PID\nGROUP BY Title\nLIMIT 25;'] (Background on this error at: http://sqlalche.me/e/e3q8)

What rooms historically have large capacity classes?

In [8]:
%%sql

SELECT DISTINCT (Location.Room), Capacity
FROM Course_Facts
JOIN Location ON Course_Facts.LID = Location.LID
ORDER BY Capacity DESC
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
(sqlite3.OperationalError) no such table: Course_Facts [SQL: 'SELECT DISTINCT (Location.Room), Capacity\nFROM Course_Facts\nJOIN Location ON Course_Facts.LID = Location.LID\nORDER BY Capacity DESC\nLIMIT 10;'] (Background on this error at: http://sqlalche.me/e/e3q8)

What class titles are in the Accounting Program?

In [9]:
%%sql

SELECT Title
FROM Course_Facts
JOIN Program1 ON Course_Facts.PID = Program1.PID
WHERE Program_Name IS 'Accounting'
GROUP BY Title
LIMIT 25;

 * sqlite:///CourseDataWarehouse.db
(sqlite3.OperationalError) no such table: Course_Facts [SQL: "SELECT Title\nFROM Course_Facts\nJOIN Program1 ON Course_Facts.PID = Program1.PID\nWHERE Program_Name IS 'Accounting'\nGROUP BY Title\nLIMIT 25;"] (Background on this error at: http://sqlalche.me/e/e3q8)

How many students have Dr. Huntley and Dr. Massey taught?

In [10]:
%%sql
SELECT Faculty_Name, SUM(Actual) AS Total_Taught
FROM Courses
WHERE Faculty_Name LIKE '%Huntley%' OR Faculty_Name LIKE '%Massey%'
GROUP BY Faculty_Name
ORDER BY Total_Taught DESC
LIMIT 20;

 * sqlite:///CourseDataWarehouse.db
(sqlite3.OperationalError) no such table: Courses [SQL: "SELECT Faculty_Name, SUM(Actual) AS Total_Taught\nFROM Courses\nWHERE Faculty_Name LIKE '%Huntley%' OR Faculty_Name LIKE '%Massey%'\nGROUP BY Faculty_Name\nORDER BY Total_Taught DESC\nLIMIT 20;"] (Background on this error at: http://sqlalche.me/e/e3q8)