### load imports

In [1]:
%load_ext sql
import pandas as pd
import sqlite3

In [2]:
%sql sqlite:///CourseData.db
conn = sqlite3.connect('CourseData.db')

In [3]:
%%sql
DROP TABLE IF EXISTS Courses;
DROP TABLE IF EXISTS Course_Meeting;
DROP TABLE IF EXISTS Catalog;
DROP TABLE IF EXISTS Program;
DROP TABLE IF EXISTS Fees;


DROP TABLE IF EXISTS IMPORT_COURSE_OFFERINGS;
DROP TABLE IF EXISTS IMPORT_COURSE_MEETINGS;
DROP TABLE IF EXISTS IMPORT_CATALOG_COURSES;

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

##### we loaded the CSV files in the terminal window

##### Create ERD tables

In [4]:
%%sql

CREATE TABLE Courses (
    CRN SMALLINT,
    Term VARCHAR(20),
    Section VARCHAR(10),
    Cat_ID VARCHAR(10),
    CatID VARCHAR(10),
    Faculty_Name VARCHAR(10),
    Credits TINYINT,
    Capacity SMALLINT,
    Actual SMALLINT,
    Remaining SMALLINT,
    PRIMARY KEY (CRN, Term)
);

 * sqlite:///CourseData.db
Done.

[]

In [5]:
%%sql

CREATE TABLE Course_Meeting (
    MID INTEGER PRIMARY KEY,
    CRN SMALLINT,
    Term VARCHAR(20),
    Room TEXT,
    Day TEXT,
    Start_Time TIME,
    End_Time TIME  
);

 * sqlite:///CourseData.db
Done.

[]

In [6]:

%%sql

CREATE TABLE Catalog (
    Cat_ID VARCHAR(10) PRIMARY KEY,
    Prg_Code VARCHAR(5),
    Title VARCHAR(150),
    Prerequisites VARCHAR(10),
    Corequisites VARCHAR(10)
);

 * sqlite:///CourseData.db
Done.

[]

In [7]:
%%sql

CREATE TABLE Program (
    Prg_Code VARCHAR(10) PRIMARY KEY,
    Program_Name VARCHAR(150)
);

 * sqlite:///CourseData.db
Done.

[]

In [8]:
%%sql

CREATE TABLE Fees (
    Cat_ID VARCHAR(10),
    Academic_Year VARCHAR(20),
    Fee DECIMAL,
    PRIMARY KEY (Cat_ID, Academic_Year)
);

 * sqlite:///CourseData.db
Done.

[]

In [9]:

#Catalog Data
catalog_years = ['2017_2018', '2018_2019']

for cat_year in catalog_years:
    filepath = '../SourceData/Catalogs/CourseCatalog'+cat_year+'.csv'
    data = pd.read_csv(filepath)
    data['cat_year'] = cat_year
    data.to_sql('IMPORT_CATALOG_COURSES',conn,if_exists='append',index=False)

In [10]:
#Course Offering and Course Meeting Data
terms = ['Fall2014','Fall2015','Fall2016','Fall2017','Fall2018',
         'Spring2015','Spring2016','Spring2017','Spring2018','Spring2019',
        'SpringBreak2017',
         'Summer2015','Summer2016','Summer2017','Summer2018',
         'Winter2015','Winter2016','Winter2017','Winter2018']

for term in terms:
    filepath = '../SourceData/'+term+'/courses.csv'
    data = pd.read_csv(filepath)
    data.to_sql('IMPORT_COURSE_OFFERINGS',conn,if_exists='append',index=False) 
    
    filepath = '../SourceData/'+term+'/course_meetings.csv'
    data = pd.read_csv(filepath)
    data.to_sql('IMPORT_COURSE_MEETINGS',conn,if_exists='append',index=False)



##### INsert into ERD tables

In [11]:

%%sql

INSERT INTO Program (Prg_Code, Program_Name)
SELECT DISTINCT program_code, program_name 
FROM IMPORT_CATALOG_COURSES;

 * sqlite:///CourseData.db
83 rows affected.

[]

In [12]:
%%sql

INSERT INTO Catalog (Cat_ID, Prg_Code, Title, Prerequisites, Corequisites)
SELECT DISTINCT catalog_id, program_code, course_title,prereqs,coreqs
FROM IMPORT_CATALOG_COURSES 
    JOIN Program ON (Prg_Code = program_code);

 * sqlite:///CourseData.db
2220 rows affected.

[]

In [13]:
%%sql

INSERT INTO Course_Meeting (CRN, Term, Room, Day, Start_Time, End_Time)
SELECT DISTINCT crn, term, location, day, start, end
FROM IMPORT_COURSE_MEETINGS

 * sqlite:///CourseData.db
311141 rows affected.

[]

In [14]:
%%sql

INSERT INTO COURSES (CRN, Term, Section, Cat_ID, Faculty_Name, Credits, Capacity, Actual, Remaining)
SELECT DISTINCT crn, term, section, catalog_id, primary_instructor, credits, cap, act, rem
FROM IMPORT_COURSE_OFFERINGS;

 * sqlite:///CourseData.db
15937 rows affected.

[]

In [15]:
%%sql

INSERT INTO Fees (Cat_ID, Academic_Year, Fee )
SELECT DISTINCT catalog_id, cat_year, fees
FROM IMPORT_CATALOG_COURSES;

 * sqlite:///CourseData.db
4440 rows affected.

[]

In [16]:
%%sql

SELECT *
FROM COURSES
LIMIT 25

 * sqlite:///CourseData.db
Done.

[(70384, 'Fall2014', 'C01', 'AC 0011', None, 'Michael P.  Coyne', 3, 0, 31, -31),
 (70385, 'Fall2014', 'C02', 'AC 0011', None, 'Michael P.  Coyne', 3, 0, 31, -31),
 (70382, 'Fall2014', 'C03', 'AC 0011', None, 'Michael P.  Coyne', 3, 0, 31, -31),
 (70291, 'Fall2014', 'C04', 'AC 0011', None, 'Rebecca I.  Bloch', 3, 0, 29, -29),
 (70350, 'Fall2014', 'C05', 'AC 0011', None, 'Rebecca I.  Bloch', 3, 0, 30, -30),
 (70381, 'Fall2014', 'C06', 'AC 0011', None, 'Rebecca I.  Bloch', 3, 0, 31, -31),
 (70383, 'Fall2014', 'G', 'AC 0011', None, 'Paul   Caster', 3, 30, 31, -1),
 (70391, 'Fall2014', 'H', 'AC 0011', None, 'Jo Ann   Drusbosky', 3, 30, 32, -2),
 (71105, 'Fall2014', 'I', 'AC 0011', None, 'Jo Ann   Drusbosky', 3, 30, 33, -3),
 (71123, 'Fall2014', 'J', 'AC 0011', None, 'Jo Ann   Drusbosky', 3, 30, 32, -2),
 (71208, 'Fall2014', 'K', 'AC 0011', None, 'Jo Ann   Drusbosky', 3, 30, 34, -4),
 (71763, 'Fall2014', 'L', 'AC 0011', None, 'Arleen N.  Kardos', 3, 30, 31, -1),
 (72615, 'Fall2014', 'M', 'AC 0011', None, 'Arleen N.  Kardos', 3, 30, 31, -1),
 (72616, 'Fall2014', 'N', 'AC 0011', None, 'Scott M  Brenner', 3, 30, 26, 4),
 (70387, 'Fall2014', 'O', 'AC 0011', None, 'Kevin C.  Cassidy', 3, 30, 31, -1),
 (70292, 'Fall2014', 'A', 'AC 0012', None, 'Bruce   Bradford', 3, 30, 17, 13),
 (70070, 'Fall2014', 'A', 'AC 0203', None, 'Milo W.  Peck', 3, 28, 28, 0),
 (70071, 'Fall2014', 'B', 'AC 0203', None, 'Milo W.  Peck', 3, 28, 28, 0),
 (73161, 'Fall2014', 'D', 'AC 0203', None, 'Milo W.  Peck', 3, 17, 16, 1),
 (73162, 'Fall2014', 'E', 'AC 0203', None, 'Milo W.  Peck', 3, 24, 22, 2),
 (70601, 'Fall2014', 'A', 'AC 0204', None, 'Stephen E.  Yost', 3, 10, 12, -2),
 (70360, 'Fall2014', 'AAA', 'AC 0204', None, 'Stephen E.  Yost', 3, 10, 1, 9),
 (71437, 'Fall2014', 'A', 'AC 0310', None, 'Ahmed M.  Ebrahim', 3, 24, 27, -3),
 (71439, 'Fall2014', 'A', 'AC 0320', None, 'Bruce   Bradford', 3, 10, 15, -5),
 (70797, 'Fall2014', 'AAA', 'AC 0320', None, 'Bruce   Bradford', 3, 10, 6, 4)]

In [17]:
%%sql

DROP TABLE IF EXISTS IMPORT_COURSE_OFFERINGS;
DROP TABLE IF EXISTS IMPORT_COURSE_MEETINGS;
DROP TABLE IF EXISTS IMPORT_CATALOG_COURSES;

 * sqlite:///CourseData.db
Done.
Done.
Done.

[]