In [1]:
%load_ext sql
import pandas as pd
import sqlite3

In [2]:
%sql sqlite:///CourseDataWarehouse.db
conn = sqlite3.connect('CourseDataWarehouse.db')

What days are popular for certain classes?

In [11]:
%%sql
SELECT DISTINCT Cat_ID AS Class_Type, Day, COUNT(Day) AS Num_Days
FROM Courses
    JOIN Course_Meeting USING (CRN)
WHERE Actual > 10
GROUP BY Day, Class_Type
ORDER BY Num_Days DESC
LIMIT 20;

 * sqlite:///CourseDataWarehouse.db
Done.

[('EN 0012', 'T', 2810),
 ('EN 0012', 'R', 2569),
 ('EN 0012', 'M', 2469),
 ('EN 0012', 'F', 2337),
 ('EN 0011', 'M', 2055),
 ('EN 0011', 'T', 2001),
 ('EN 0011', 'F', 1889),
 ('PH 0101', 'R', 1867),
 ('PH 0101', 'T', 1840),
 ('PH 0101', 'M', 1828),
 ('EN 0011', 'R', 1772),
 ('HI 0010', 'M', 1669),
 ('HI 0010', 'R', 1565),
 ('SP 0111', 'W', 1333),
 ('SP 0210', 'W', 1313),
 ('SP 0210', 'R', 1308),
 ('PH 0101', 'F', 1299),
 ('SP 0210', 'M', 1262),
 ('SP 0111', 'M', 1205),
 ('MA 0217', 'R', 1203)]

Which courses in 2017-2018 had data in the "Fee" field?

In [12]:
%%sql

SELECT Cat_ID, Amount, Academic_Year
FROM Fees1
WHERE Academic_Year IS '2017_2018'
LIMIT 25;

 * sqlite:///CourseDataWarehouse.db
Done.

[('BI 0107', '$55 Science Lab Fee', '2017_2018'),
 ('BI 0108', '$55 Science Lab Fee', '2017_2018'),
 ('SA 0011', '$55 Materials Fee', '2017_2018'),
 ('BI 0151', '$55 Science Lab Fee', '2017_2018'),
 ('SA 0012', '$55 Materials Fee', '2017_2018'),
 ('SA 0013', '$55 Materials Fee', '2017_2018'),
 ('SA 0014', '$55 Materials Fee', '2017_2018'),
 ('SA 0015', '$55 Materials Fee', '2017_2018'),
 ('SA 0016', '$55 Materials Fee', '2017_2018'),
 ('BI 0170', '$55 Science Lab Fee', '2017_2018'),
 ('BI 0171', '$55 Science Lab Fee', '2017_2018'),
 ('SA 0100', '$55 Materials Fee', '2017_2018'),
 ('SA 0101', '$55 Materials Fee', '2017_2018'),
 ('BI 0172', '$55 Science Lab Fee', '2017_2018'),
 ('SA 0105', '$55 Materials Fee', '2017_2018'),
 ('SA 0130', '$55 Materials Fee', '2017_2018'),
 ('SA 0132', '$55 Materials Fee', '2017_2018'),
 ('SA 0133', '$105 Materials Fee', '2017_2018'),
 ('SA 0134', '$105 Materials Fee', '2017_2018'),
 ('SA 0136', '$55 Materials Fee', '2017_2018'),
 ('SA 0137', '$55 Materials Fee', '2017_2018'),
 ('SA 0138', '$55 Materials Fee', '2017_2018'),
 ('SA 0139', '$55 Materials Fee', '2017_2018'),
 ('SA 0230', '$55 Materials Fee', '2017_2018'),
 ('SA 0231', '$55 Materials Fee', '2017_2018')]

Which classes (by title) are in which programs?

In [13]:
%%sql

SELECT Title, Program1.Program_Name
FROM Course_Facts
JOIN Program1 ON Course_Facts.PID = Program1.PID
GROUP BY Title
LIMIT 25;

 * sqlite:///CourseDataWarehouse.db
Done.

[('19th Century Romanticism in Music', 'Music'),
 ('19th-Century Russian Novel and World Literature', 'English'),
 ('20th Century British Literature', 'English'),
 ('20th Century Philosophy', 'Philosophy'),
 ('20th Century Russia', 'History'),
 ('20th Century Spanish Literature', 'Spanish'),
 ('20th Century United States', 'History'),
 ('21st Century Literacies in the Classroom', 'Educational Technology'),
 ('21st Century Power Politics', 'Politics'),
 ('Abnormal Psychology for Majors', 'Psychology'),
 ('Abnormal Psychology for Non-Majors', 'Psychology'),
 ('Abstract Algebra', 'Mathematics'),
 ('Accelerated Statistics', 'Mathematics'),
 ('Accounting Information Systems', 'Accounting'),
 ('Accounting Information Systems and Technology', 'Accounting'),
 ('Accounting Information for Decision-Making', 'Accounting'),
 ('Accounting for Governments, Hospitals, and Universities', 'Accounting'),
 ('Achieving an Interdisciplinary Approach to Teaching through Technology', 'Educational Technology'),
 ('Acting I', 'Theatre'),
 ('Acting II', 'Theatre'),
 ('Acting for the Camera', 'Film, Television, and Media Arts'),
 ('Actuarial Problem Solving', 'Mathematics'),
 ('Adult Health I', 'Nursing'),
 ('Adult Health II', 'Nursing'),
 ('Advanced Abstract Algebra', 'Mathematics')]

What rooms historically have large capacity classes?

In [14]:
%%sql

SELECT DISTINCT (Location.Room), Capacity
FROM Course_Facts
JOIN Location ON Course_Facts.LID = Location.LID
ORDER BY Capacity DESC
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[('GNZ AUDI', 100),
 ('NHS 224', 93),
 ('NHS 224', 92),
 ('SON 203', 91),
 ('SON 203', 90),
 ('NHS 224', 88),
 ('NHS 224', 86),
 ('NHS 103/104', 86),
 ('NHS 103/104', 85),
 ('SON 203', 83)]

What class titles are in the Accounting Program?

In [15]:
%%sql

SELECT Title
FROM Course_Facts
JOIN Program1 ON Course_Facts.PID = Program1.PID
WHERE Program_Name IS 'Accounting'
GROUP BY Title
LIMIT 25;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Accounting Information Systems',),
 ('Accounting Information Systems and Technology',),
 ('Accounting Information for Decision-Making',),
 ('Accounting for Governments, Hospitals, and Universities',),
 ('Advanced Accounting',),
 ('Audit Issues in a Global Environment',),
 ('Auditing',),
 ('Cost Management',),
 ('Cost Management Lab',),
 ('Federal Income Taxation I',),
 ('Federal Income Taxation II',),
 ('Financial Statement Analysis',),
 ('Forensic Accounting',),
 ('Independent Study',),
 ('Individual Taxation: Socioeconomic Applications',),
 ('Intermediate Accounting I',),
 ('Intermediate Accounting II',),
 ('International Accounting',),
 ('Internship',),
 ('Introduction to Accounting',),
 ('Introduction to Financial Accounting',),
 ('Introduction to Management Accounting',),
 ('Issues in Accounting Ethics',),
 ('Issues in Internal Audit',),
 ('Issues in a Regulatory Reporting Environment',)]

How many students have Dr. Huntley and Dr. Massey taught, comparatively?

In [16]:
%%sql
SELECT Faculty_Name, SUM(Actual) AS Total_Taught
FROM Courses
WHERE Faculty_Name LIKE '%Huntley%' OR Faculty_Name LIKE '%Massey%'
GROUP BY Faculty_Name
ORDER BY Total_Taught DESC
LIMIT 20;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Christopher L.  Huntley', 645), ('Dawn W  Massey', 466)]