### CourseDataWarehouse

In [1]:
%load_ext sql
import pandas as pd
import sqlite3

In [2]:
%sql sqlite:///CourseDataWarehouse.db
conn = sqlite3.connect('CourseDataWarehouse.db')

In [3]:
%%sql

-- Drop the tables incase they already exist 

DROP TABLE IF EXISTS Courses;
DROP TABLE IF EXISTS Course_Meeting;
DROP TABLE IF EXISTS Catalog;
DROP TABLE IF EXISTS Program;
DROP TABLE IF EXISTS Fees;


DROP TABLE IF EXISTS IMPORT_COURSE_OFFERINGS;
DROP TABLE IF EXISTS IMPORT_COURSE_MEETINGS;
DROP TABLE IF EXISTS IMPORT_CATALOG_COURSES;

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

##### Create ERD tables - We are recreating the tables from the database to begin with

In [4]:
%%sql

CREATE TABLE Courses (
    CRN SMALLINT,
    Term VARCHAR(20),
    Section VARCHAR(10),
    Cat_ID VARCHAR(10),
    Faculty_Name VARCHAR(10),
    Credits TINYINT,
    Capacity SMALLINT,
    Actual SMALLINT,
    Remaining SMALLINT,
    PRIMARY KEY (CRN, Term),
    FOREIGN KEY(Cat_ID) REFERENCES Catalog(Cat_ID)
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [5]:
%%sql

CREATE TABLE Course_Meeting (
    MID INTEGER PRIMARY KEY,
    CRN SMALLINT,
    Term VARCHAR(20),
    Room TEXT,
    Day TEXT,
    Start_Time TIME,
    End_Time TIME,  
    FOREIGN KEY(CRN,Term) REFERENCES Courses(CRN,Term)
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [6]:

%%sql

CREATE TABLE Catalog (
    Cat_ID VARCHAR(10) PRIMARY KEY,
    Prg_Code VARCHAR(5),
    Title VARCHAR(150),
    Prerequisites VARCHAR(10),
    Corequisites VARCHAR(10),
    FOREIGN KEY(Prg_Code) REFERENCES Program(Prg_Code)
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [7]:
%%sql

CREATE TABLE Program (
    Prg_Code VARCHAR(10) PRIMARY KEY,
    Program_Name VARCHAR(150)
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [8]:
%%sql

CREATE TABLE Fees (
    Cat_ID VARCHAR(10),
    Academic_Year VARCHAR(20),
    Fee TEXT,
    PRIMARY KEY (Cat_ID, Academic_Year)
    FOREIGN KEY(Cat_ID) REFERENCES Catalog(Cat_ID)
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [9]:
#Catalog Data - Loading all the catalogs csv files into a SQL table called IMPORT_CATALOG_COURSES

catalog_years = ['2017_2018', '2018_2019']

for cat_year in catalog_years:
    filepath = '../SourceData/Catalogs/CourseCatalog'+cat_year+'.csv'
    data = pd.read_csv(filepath)
    data['cat_year'] = cat_year
    data.to_sql('IMPORT_CATALOG_COURSES',conn,if_exists='append',index=False)

In [10]:
#Course Offering and Course Meeting Data - Loading all the Course Offering and Course Meeting csv files into a SQL table called IMPORT_CATALOG_COURSES

terms = ['Fall2014','Fall2015','Fall2016','Fall2017','Fall2018',
         'Spring2015','Spring2016','Spring2017','Spring2018','Spring2019',
        'SpringBreak2017',
         'Summer2015','Summer2016','Summer2017','Summer2018',
         'Winter2015','Winter2016','Winter2017','Winter2018']

for term in terms:
    filepath = '../SourceData/'+term+'/courses.csv'
    data = pd.read_csv(filepath)
    data.to_sql('IMPORT_COURSE_OFFERINGS',conn,if_exists='append',index=False) 
    
    filepath = '../SourceData/'+term+'/course_meetings.csv'
    data = pd.read_csv(filepath)
    data.to_sql('IMPORT_COURSE_MEETINGS',conn,if_exists='append',index=False)



##### Insert into ERD tables

-- Insert the data from IMPORT_CATALOG_COURSES into the Program table --

In [11]:
%%sql

INSERT INTO Program (Prg_Code, Program_Name)
SELECT DISTINCT program_code, program_name 
FROM IMPORT_CATALOG_COURSES;

 * sqlite:///CourseDataWarehouse.db
83 rows affected.

[]

-- Insert the data from IMPORT_CATALOG_COURSES into the Catalog table and linking to Program table --

In [12]:
%%sql

INSERT INTO Catalog (Cat_ID, Prg_Code, Title, Prerequisites, Corequisites)
SELECT DISTINCT catalog_id, program_code, course_title,prereqs,coreqs
FROM IMPORT_CATALOG_COURSES 
    JOIN Program ON (Prg_Code = program_code);

 * sqlite:///CourseDataWarehouse.db
2220 rows affected.

[]

-- Insert the data from IMPORT_COURSE_MEETINGS into the Course_Meeting table

In [13]:
%%sql

INSERT INTO Course_Meeting (CRN, Term, Room, Day, Start_Time, End_Time)
SELECT DISTINCT crn, term, location, day, start, end
FROM IMPORT_COURSE_MEETINGS;

 * sqlite:///CourseDataWarehouse.db
311141 rows affected.

[]

-- Insert the data from IMPORT_COURSE_OFFERINGS into the Courses table and linking the Course Meeting and Catalog tables

In [14]:
%%sql

INSERT INTO Courses (CRN, Term, Section, Cat_ID, Faculty_Name, Credits, Capacity, Actual, Remaining)
SELECT DISTINCT IMPORT_COURSE_OFFERINGS.crn, IMPORT_COURSE_OFFERINGS.term, section, catalog_id, primary_instructor, credits, cap, act, rem
FROM IMPORT_COURSE_OFFERINGS
    LEFT JOIN Course_Meeting ON Course_Meeting.CRN = IMPORT_COURSE_OFFERINGS.crn AND Course_Meeting.Term = IMPORT_COURSE_OFFERINGS.term
    LEFT JOIN Catalog ON Catalog.Cat_ID = IMPORT_COURSE_OFFERINGS.catalog_id;

 * sqlite:///CourseDataWarehouse.db
15937 rows affected.

[]

-- Insert the data from IMPORT_COURSE_COURSES into the Fees table and linking the Catalog Table

In [15]:
%%sql

INSERT INTO Fees (Cat_ID, Academic_Year, Fee )
SELECT DISTINCT catalog_id, cat_year, fees
FROM IMPORT_CATALOG_COURSES
    LEFT JOIN Catalog ON Catalog.Cat_ID = IMPORT_CATALOG_COURSES.catalog_id;

 * sqlite:///CourseDataWarehouse.db
4440 rows affected.

[]

**Drop Datawarehouse Tables in case they already exist**

In [16]:
%%sql

DROP TABLE IF EXISTS Location;
DROP TABLE IF EXISTS Course_Facts;
DROP TABLE IF EXISTS Meeting;
DROP TABLE IF EXISTS Fees1;
DROP TABLE IF EXISTS Program1;

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.

[]

## Create New Datawarehouse Tables

In [17]:
%%sql

CREATE TABLE Location (
    LID INTEGER PRIMARY KEY,
    Room TEXT
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

-- Insert the data from Course_Meeting into the Location table

In [18]:
%%sql

INSERT INTO Location (Room)
SELECT DISTINCT Room 
FROM Course_Meeting;

 * sqlite:///CourseDataWarehouse.db
207 rows affected.

[]

In [19]:
%%sql

CREATE TABLE Program1 (
    PID INTEGER PRIMARY KEY,
    Prg_Code VARCHAR(10),
    Program_Name VARCHAR(150)
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

-- Insert the data from Import_Catalog_Courses into the Program1 table

In [20]:
%%sql

INSERT INTO Program1 (Prg_Code, Program_Name)
SELECT DISTINCT Prg_Code, Program_name 
FROM Program;

 * sqlite:///CourseDataWarehouse.db
83 rows affected.

[]

In [21]:
%%sql

CREATE TABLE Meeting (
    MID INTEGER PRIMARY KEY,
    Cat_ID TEXT,
    Day TEXT,
    Start_Time TIME,
    End_Time TIME  
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

-- Insert the data from Import_Catalog_Courses into the Meeting table

In [22]:
%%sql

INSERT INTO Meeting (Day, Start_Time, End_Time)
SELECT DISTINCT Day, Start_Time, End_Time
FROM Course_Meeting

 * sqlite:///CourseDataWarehouse.db
42551 rows affected.

[]

In [23]:
%%sql

SELECT *
FROM Course_Meeting
LIMIT 25;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 70384, 'Fall2014', 'DSB 105', 'T', '2014-09-02T08:00:00', '2014-09-02T09:15:00'),
 (2, 70384, 'Fall2014', 'DSB 105', 'F', '2014-09-05T08:00:00', '2014-09-05T09:15:00'),
 (3, 70384, 'Fall2014', 'DSB 105', 'T', '2014-09-09T08:00:00', '2014-09-09T09:15:00'),
 (4, 70384, 'Fall2014', 'DSB 105', 'F', '2014-09-12T08:00:00', '2014-09-12T09:15:00'),
 (5, 70384, 'Fall2014', 'DSB 105', 'T', '2014-09-16T08:00:00', '2014-09-16T09:15:00'),
 (6, 70384, 'Fall2014', 'DSB 105', 'F', '2014-09-19T08:00:00', '2014-09-19T09:15:00'),
 (7, 70384, 'Fall2014', 'DSB 105', 'T', '2014-09-23T08:00:00', '2014-09-23T09:15:00'),
 (8, 70384, 'Fall2014', 'DSB 105', 'F', '2014-09-26T08:00:00', '2014-09-26T09:15:00'),
 (9, 70384, 'Fall2014', 'DSB 105', 'T', '2014-09-30T08:00:00', '2014-09-30T09:15:00'),
 (10, 70384, 'Fall2014', 'DSB 105', 'F', '2014-10-03T08:00:00', '2014-10-03T09:15:00'),
 (11, 70384, 'Fall2014', 'DSB 105', 'T', '2014-10-07T08:00:00', '2014-10-07T09:15:00'),
 (12, 70384, 'Fall2014', 'DSB 105', 'F', '2014-10-10T08:00:00', '2014-10-10T09:15:00'),
 (13, 70384, 'Fall2014', 'DSB 105', 'F', '2014-10-17T08:00:00', '2014-10-17T09:15:00'),
 (14, 70384, 'Fall2014', 'DSB 105', 'T', '2014-10-21T08:00:00', '2014-10-21T09:15:00'),
 (15, 70384, 'Fall2014', 'DSB 105', 'F', '2014-10-24T08:00:00', '2014-10-24T09:15:00'),
 (16, 70384, 'Fall2014', 'DSB 105', 'T', '2014-10-28T08:00:00', '2014-10-28T09:15:00'),
 (17, 70384, 'Fall2014', 'DSB 105', 'F', '2014-10-31T08:00:00', '2014-10-31T09:15:00'),
 (18, 70384, 'Fall2014', 'DSB 105', 'T', '2014-11-04T08:00:00', '2014-11-04T09:15:00'),
 (19, 70384, 'Fall2014', 'DSB 105', 'F', '2014-11-07T08:00:00', '2014-11-07T09:15:00'),
 (20, 70384, 'Fall2014', 'DSB 105', 'T', '2014-11-11T08:00:00', '2014-11-11T09:15:00'),
 (21, 70384, 'Fall2014', 'DSB 105', 'F', '2014-11-14T08:00:00', '2014-11-14T09:15:00'),
 (22, 70384, 'Fall2014', 'DSB 105', 'T', '2014-11-18T08:00:00', '2014-11-18T09:15:00'),
 (23, 70384, 'Fall2014', 'DSB 105', 'F', '2014-11-21T08:00:00', '2014-11-21T09:15:00'),
 (24, 70384, 'Fall2014', 'DSB 105', 'T', '2014-11-25T08:00:00', '2014-11-25T09:15:00'),
 (25, 70384, 'Fall2014', 'DSB 105', 'T', '2014-12-02T08:00:00', '2014-12-02T09:15:00')]

In [24]:
%%sql

CREATE TABLE Fees1 (
    FEE_ID INTEGER PRIMARY KEY,
    Cat_ID VARCHAR9(10),
    Academic_Year VARCHAR(20),
    Amount VARCHAR(50)
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

-- Insert the data from Import_Catalog_Courses into the Fees table

In [25]:
%%sql

INSERT INTO Fees1 (Cat_ID, Academic_Year, Amount)
SELECT Cat_ID, Academic_Year, fee
FROM Fees
WHERE fee NOT NULL
;

 * sqlite:///CourseDataWarehouse.db
250 rows affected.

[]

In [26]:
%%sql

SELECT * 
FROM Fees1
LIMIT 25;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'BI 0107', '2017_2018', '$55 Science Lab Fee'),
 (2, 'BI 0108', '2017_2018', '$55 Science Lab Fee'),
 (3, 'SA 0011', '2017_2018', '$55 Materials Fee'),
 (4, 'BI 0151', '2017_2018', '$55 Science Lab Fee'),
 (5, 'SA 0012', '2017_2018', '$55 Materials Fee'),
 (6, 'SA 0013', '2017_2018', '$55 Materials Fee'),
 (7, 'SA 0014', '2017_2018', '$55 Materials Fee'),
 (8, 'SA 0015', '2017_2018', '$55 Materials Fee'),
 (9, 'SA 0016', '2017_2018', '$55 Materials Fee'),
 (10, 'BI 0170', '2017_2018', '$55 Science Lab Fee'),
 (11, 'BI 0171', '2017_2018', '$55 Science Lab Fee'),
 (12, 'SA 0100', '2017_2018', '$55 Materials Fee'),
 (13, 'SA 0101', '2017_2018', '$55 Materials Fee'),
 (14, 'BI 0172', '2017_2018', '$55 Science Lab Fee'),
 (15, 'SA 0105', '2017_2018', '$55 Materials Fee'),
 (16, 'SA 0130', '2017_2018', '$55 Materials Fee'),
 (17, 'SA 0132', '2017_2018', '$55 Materials Fee'),
 (18, 'SA 0133', '2017_2018', '$105 Materials Fee'),
 (19, 'SA 0134', '2017_2018', '$105 Materials Fee'),
 (20, 'SA 0136', '2017_2018', '$55 Materials Fee'),
 (21, 'SA 0137', '2017_2018', '$55 Materials Fee'),
 (22, 'SA 0138', '2017_2018', '$55 Materials Fee'),
 (23, 'SA 0139', '2017_2018', '$55 Materials Fee'),
 (24, 'SA 0230', '2017_2018', '$55 Materials Fee'),
 (25, 'SA 0231', '2017_2018', '$55 Materials Fee')]

In [27]:
%%sql

SELECT *
FROM Fees1
LIMIT 25
;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'BI 0107', '2017_2018', '$55 Science Lab Fee'),
 (2, 'BI 0108', '2017_2018', '$55 Science Lab Fee'),
 (3, 'SA 0011', '2017_2018', '$55 Materials Fee'),
 (4, 'BI 0151', '2017_2018', '$55 Science Lab Fee'),
 (5, 'SA 0012', '2017_2018', '$55 Materials Fee'),
 (6, 'SA 0013', '2017_2018', '$55 Materials Fee'),
 (7, 'SA 0014', '2017_2018', '$55 Materials Fee'),
 (8, 'SA 0015', '2017_2018', '$55 Materials Fee'),
 (9, 'SA 0016', '2017_2018', '$55 Materials Fee'),
 (10, 'BI 0170', '2017_2018', '$55 Science Lab Fee'),
 (11, 'BI 0171', '2017_2018', '$55 Science Lab Fee'),
 (12, 'SA 0100', '2017_2018', '$55 Materials Fee'),
 (13, 'SA 0101', '2017_2018', '$55 Materials Fee'),
 (14, 'BI 0172', '2017_2018', '$55 Science Lab Fee'),
 (15, 'SA 0105', '2017_2018', '$55 Materials Fee'),
 (16, 'SA 0130', '2017_2018', '$55 Materials Fee'),
 (17, 'SA 0132', '2017_2018', '$55 Materials Fee'),
 (18, 'SA 0133', '2017_2018', '$105 Materials Fee'),
 (19, 'SA 0134', '2017_2018', '$105 Materials Fee'),
 (20, 'SA 0136', '2017_2018', '$55 Materials Fee'),
 (21, 'SA 0137', '2017_2018', '$55 Materials Fee'),
 (22, 'SA 0138', '2017_2018', '$55 Materials Fee'),
 (23, 'SA 0139', '2017_2018', '$55 Materials Fee'),
 (24, 'SA 0230', '2017_2018', '$55 Materials Fee'),
 (25, 'SA 0231', '2017_2018', '$55 Materials Fee')]

In [28]:
%%sql

CREATE TABLE Course_Facts (
    CRN SMALLINT,
    Term VARCHAR(20),
    Faculty_Name VARCHAR(10),
    Title VARCHAR(100),
    Section VARCHAR(10),
    Cat_ID VARCHAR(10),
    LID VARCHAR(10),
    MID VARCHAR(10),
    PID VARCHAR(10),
    FEE_ID VARCHAR(10),
    Capacity SMALLINT,
    Actual SMALLINT,
    Remaining SMALLINT
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

-- Insert the data from Courses into the Course_Facts table and linking the Foreign keys using the database tables

In [29]:
%%sql
INSERT INTO Course_Facts (CRN, Term, Faculty_Name,Title, Cat_ID,PID, Section,Capacity,Actual,Remaining, LID, MID, Fee_Id)
SELECT Courses.CRN, Courses.Term, Faculty_Name,Catalog.Title, Courses.Cat_ID, Program1.PID,  Section, Capacity, Actual, Remaining, Location.LID, Meeting.MID, Fees1.Fee_ID
FROM Courses
    LEFT JOIN Catalog USING (Cat_ID)
    LEFT JOIN Program1 USING (Prg_Code)
    LEFT JOIN Course_Meeting ON Course_Meeting.CRN = Courses.CRN AND Course_Meeting.Term = Courses.Term
    LEFT JOIN Location ON Course_Meeting.Room = Location.Room
    LEFT JOIN Meeting ON Course_Meeting.Start_Time = Meeting.Start_Time
    LEFT JOIN Fees1 on Fees1.Cat_ID = Catalog.Cat_ID;

 * sqlite:///CourseDataWarehouse.db
1228773 rows affected.

[]

In [30]:
%%sql
SELECT *
FROM Course_Facts
WHERE FEE_ID NOT NULL
GROUP BY Title, Section, Term
ORDER BY CRN
LIMIT 50
;

 * sqlite:///CourseDataWarehouse.db
Done.

[(10905, 'Winter2015', 'Suzanne   Chamlin-Richer', 'Watercolor', 'A', 'SA 0139', '136', '42399', '75', '23', 15, 18, -3),
 (11612, 'Winter2016', 'Kathryn J.  Yarrington', 'Introduction to Drawing', 'A', 'SA 0012', '134', '42421', '75', '5', 15, 9, 6),
 (11718, 'Winter2017', 'Rachael Lynne  Gorchov', 'Introduction to Digital Tools in Art Making', '01', 'SA 0101', '134', '42458', '75', '13', 15, 14, 1),
 (11832, 'Winter2018', 'Kathryn J.  Yarrington', 'Introduction to Drawing', '01', 'SA 0012', '134', '42499', '75', '5', 15, 15, 0),
 (11837, 'Winter2018', 'Nazli S.  Alan', 'Introduction to Finance', 'OL1', 'FI 0101', None, None, '29', '95', 20, 9, 11),
 (31045, 'Spring2017', 'Christine   Earls', 'Human Anatomy and Physiology II', '01', 'BI 0108', '34', '26574', '10', '2', 90, 81, 9),
 (31104, 'Spring2017', 'Kevin W.  Ford', 'Exhibition Seminar', '01', 'SA 0301', '134', '26574', '75', '34', 7, 2, 5),
 (31106, 'Spring2017', 'Tara B.  Malone', 'Career Development: Theory and Practice', '01', 'CN 0457', '60', '28349', '16', '107', 20, 20, 0),
 (31127, 'Spring2017', 'Michael F  Donovan', 'Introduction to Sculpture', '01', 'SA 0011', '135', '26710', '75', '3', 18, 17, 1),
 (31128, 'Spring2017', 'Kathryn J.  Yarrington', 'Introduction to Drawing', '01', 'SA 0012', '134', '26913', '75', '5', 18, 13, 5),
 (31152, 'Spring2017', 'Christine R.  Rodriguez', 'Elements of Microbiology', '01', 'BI 0151', '53', '26601', '10', '4', 64, 54, 10),
 (31153, 'Spring2017', 'Glenn R.  Sauer', 'General Biology II', '01', 'BI 0171', '34', '26763', '10', '11', 56, 36, 20),
 (31185, 'Spring2017', 'Virginia A.  Kelly', 'Assessment in Counseling', '01', 'CN 0467', '12', '28319', '16', '108', 19, 18, 1),
 (31209, 'Spring2017', 'Walter F.  Hlawitschka', 'Introduction to Finance', '01', 'FI 0101', '5', '26763', '29', '95', 25, 20, 5),
 (31210, 'Spring2017', 'Walter F.  Hlawitschka', 'Introduction to Finance', '02', 'FI 0101', '5', '26520', '29', '95', 25, 20, 5),
 (31211, 'Spring2017', 'Laurie G.  Richardson', 'Introduction to Finance', '03', 'FI 0101', '7', '26574', '29', '95', 25, 26, -1),
 (31212, 'Spring2017', 'Laurie G.  Richardson', 'Introduction to Finance', '04', 'FI 0101', '10', '26601', '29', '95', 17, 16, 1),
 (31213, 'Spring2017', 'Robert   Harrity', 'Introduction to Finance', '05', 'FI 0101', '3', '26547', '29', '95', 25, 20, 5),
 (31262, 'Spring2017', 'Kathryn J.  Yarrington', 'Artist Book Construction', '01', 'SA 0136', '138', '26790', '75', '20', 18, 13, 5),
 (31274, 'Spring2017', 'Cheryl Y.  Edwards', 'Digital Photography', '01', 'SA 0134', '137', '26710', '75', '19', 17, 14, 3),
 (31341, 'Spring2017', 'Anita G.  Fernandez', 'Genetics', '01', 'BI 0261', '14', '26763', '10', '32', 32, 32, 0),
 (31394, 'Spring2017', 'Glenn R.  Sauer', 'General Biology II', '02', 'BI 0171', '34', '26547', '10', '11', 56, 38, 18),
 (31402, 'Spring2017', 'Jillian E.  Smith-Carpenter', 'Biochemistry Lab', '01', 'BI 0324L', '46', '26927', '10', '50', 8, 2, 6),
 (31403, 'Spring2017', "Edmond J.  O'Connell", 'General Chemistry for Health Science Lab', '01', 'CH 0084L', '55', '27405', '13', '112', 16, 15, 1),
 (31404, 'Spring2017', 'Eileen   Reilly-Wiedow', 'General Chemistry for Health Science Lab', '02', 'CH 0084L', '55', '27322', '13', '112', 16, 16, 0),
 (31405, 'Spring2017', 'Joan   Lloyd', 'Organic Chemistry II Lab', '01', 'CH 0212L', '57', '26602', '13', '118', 14, 13, 1),
 (31406, 'Spring2017', 'Peter J.  Schirmann', 'Organic Chemistry II Lab', '02', 'CH 0212L', '57', '26547', '13', '118', 14, 14, 0),
 (31407, 'Spring2017', 'Joan   Lloyd', 'Organic Chemistry II Lab', '03', 'CH 0212L', '57', '27943', '13', '118', 14, 14, 0),
 (31408, 'Spring2017', 'Peter J.  Schirmann', 'Organic Chemistry II Lab', '04', 'CH 0212L', '57', '27114', '13', '118', 14, 14, 0),
 (31409, 'Spring2017', 'Gary H.  Weddle', 'Physical Chemistry II Lab', '01', 'CH 0262L', '158', '26790', '13', '121', 12, 11, 1),
 (31472, 'Spring2017', 'Sriharsha   Srinivas Sundarram', 'Dynamics Systems Lab', '01', 'ME 0307L', '107', '28543', '54', '57', 14, 12, 2),
 (31473, 'Spring2017', 'Mehdi   Safari Qariq', 'Thermal and Fluids Lab', '01', 'ME 0348L', '107', '26520', '54', '90', 17, 15, 2),
 (31624, 'Spring2017', 'Anthony J.  DeCristofaro', 'Human Anatomy and Physiology II', '02', 'BI 0108', '34', '26601', '10', '2', 90, 83, 7),
 (31632, 'Spring2017', 'Sharon A.  Fischer', 'General Chemistry II Lab', '02', 'CH 0112L', '50', '26956', '13', '116', 14, 14, 0),
 (31633, 'Spring2017', 'Amanda S.  Harper-Leatherman', 'General Chemistry II Lab', '03', 'CH 0112L', '50', '26547', '13', '116', 14, 13, 1),
 (31634, 'Spring2017', 'Sharon A.  Fischer', 'General Chemistry II Lab', '04', 'CH 0112L', '50', '27100', '13', '116', 14, 9, 5),
 (31635, 'Spring2017', 'John R.  Miecznikowski', 'General Chemistry II Lab', '05', 'CH 0112L', '50', '27943', '13', '116', 14, 12, 2),
 (31636, 'Spring2017', 'Robert G.  Fischer', 'General Chemistry II Lab', '06', 'CH 0112L', '50', '26955', '13', '116', 14, 14, 0),
 (31721, 'Spring2017', 'Amanda S.  Harper-Leatherman', 'Chemical Analysis Lab', '01', 'CH 0222L', '56', '27943', '13', '119', 12, 9, 3),
 (31722, 'Spring2017', 'Eileen   Reilly-Wiedow', 'General Chemistry for Health Science Lab', '03', 'CH 0084L', '55', '27726', '13', '112', 16, 15, 1),
 (31740, 'Spring2017', 'Richard W.  Parkin', 'Introduction to Film Studies', '01', 'FTM 0010', '90', '27100', '32', '96', 22, 19, 3),
 (31744, 'Spring2017', 'Patrick   Brooks', 'Nonlinear Editing for Film and Television', '01', 'FTM 0130', '89', '26790', '32', '100', 15, 16, -1),
 (31746, 'Spring2017', 'David Roberts  Winn', 'Modern Experimental Methods Lab', '01', 'PS 0204L', '132', '26956', '68', '38', 10, 10, 0),
 (31836, 'Spring2017', "Edmond J.  O'Connell", 'General Chemistry for Health Science Lab', '04', 'CH 0084L', '55', '27418', '13', '112', 16, 13, 3),
 (31871, 'Spring2015', 'Christine   Earls', 'Human Anatomy and Physiology II', 'A', 'BI 0108', '34', '18913', '10', '2', 60, 60, 0),
 (31901, 'Spring2017', 'James E.  Biardi', 'Ecology', '01', 'BI 0260', '54', '26736', '10', '31', 16, 10, 6),
 (31923, 'Spring2017', 'James P.  Cavallo', 'Digital Design I Lab', '01', 'CR 0245L', '82', '26791', '18', '104', 20, 19, 1),
 (31936, 'Spring2017', 'James P.  Cavallo', 'Digital Design I Lab', '02', 'CR 0245L', '82', '26927', '18', '104', 20, 20, 0),
 (31946, 'Spring2017', 'James B.  Jenkins', 'Introduction to Finance', '07', 'FI 0101', '48', '26736', '29', '95', 25, 25, 0),
 (31954, 'Spring2015', 'Kathryn J.  Yarrington', 'Exhibition Seminar', 'A', 'SA 0301', '137', '18887', '75', '34', 7, 3, 4)]

In [31]:
%%sql
SELECT *
FROM Course_Facts
GROUP BY Title, Section, Term
ORDER BY CRN
LIMIT 50
;

 * sqlite:///CourseDataWarehouse.db
Done.

[(10893, 'Winter2015', 'Thomas B.  Cunningham', 'Ecology and Society', '01', 'BI 0075', None, None, '10', None, 20, 22, -2),
 (10894, 'Winter2015', 'David   Gudelunas', 'Human Communication Theories', '01', 'CO 0100', None, None, '17', None, 20, 14, 6),
 (10895, 'Winter2015', 'Qin   Zhang', 'Intercultural Communication', '01', 'CO 0240', None, None, '17', None, 20, 11, 9),
 (10896, 'Winter2015', 'Margaret A.  Wills', 'Family Communication', 'A', 'CO 0246', '64', '42399', '17', None, 15, 12, 3),
 (10897, 'Winter2015', 'David   Gudelunas', None, 'A', 'CO 0398', None, None, None, None, 0, 1, -1),
 (10898, 'Winter2015', 'William F.  Vasquez Mazariegos', 'Introduction to Microeconomics', '01', 'EC 0011', None, None, '20', None, 20, 9, 11),
 (10900, 'Winter2015', 'Gita   Rajan', 'Introduction to Literary and Cultural Studies', '01', 'EN 0101', None, None, '26', None, 20, 20, 0),
 (10901, 'Winter2015', 'Maeve L.  Lucey', 'Business Writing', '01', 'ENW 0332', None, None, '27', None, 20, 8, 12),
 (10902, 'Winter2015', 'Robert James  Parisi', 'Introduction to Probability and Statistics', '01', 'MA 0017', None, None, '52', None, 20, 16, 4),
 (10903, 'Winter2015', 'Brian Q.  Torff', 'History and Development of Rock', 'A', 'MU 0102', '98', '42399', '59', None, 15, 15, 0),
 (10904, 'Winter2015', 'Lucrecia   Garcia Iommi', 'United States Foreign Policy', '01', 'PO 0133', None, None, '67', None, 20, 19, 1),
 (10905, 'Winter2015', 'Suzanne   Chamlin-Richer', 'Watercolor', 'A', 'SA 0139', '136', '42399', '75', '23', 15, 18, -3),
 (10906, 'Winter2015', 'Rose P.  Rodrigues', 'Criminal Justice System Seminar', 'A', 'SO 0279', '69', '42399', '78', None, 15, 11, 4),
 (10907, 'Winter2015', 'Gayle A.  Bogel', 'Methods for School Library Media', '01', 'MD 0463', None, None, '53', None, 16, 10, 6),
 (10909, 'Winter2015', 'Lisa A.  Mainiero', 'Leadership', '01', 'MG 0500', '2', '42399', '55', None, 15, 10, 5),
 (10910, 'Winter2015', 'Lauren Elise  Cesiro', 'Visual Culture Since 1400: Expression and Experimentation', '01', 'AH 0011', None, None, '3', None, 20, 16, 4),
 (10911, 'Winter2015', 'Sharlene A.  McEvoy', 'Legal Environment of Business', 'A', 'BU 0211', '8', '42399', '12', None, 15, 16, -1),
 (10912, 'Winter2015', 'Jay   Krishnamoorthy', 'Information Systems and Database Management', '01', 'IS 0500', '104', '42399', '47', None, 25, 10, 15),
 (10913, 'Winter2015', 'Dawn W  Massey', 'Issues in Internal Audit', '01', 'AC 0555', '9', '42399', '1', None, 18, 10, 8),
 (10916, 'Winter2015', 'Thomas B.  Cunningham', 'Ecology and Society', '02', 'BI 0075', None, None, '10', None, 20, 19, 1),
 (10917, 'Winter2015', 'Joachim   Kuhn', 'The Nature of the Universe', '01', 'PS 0078', None, None, '68', None, 20, 11, 9),
 (10918, 'Winter2015', 'Michael C.  White', 'Fiction', '01', 'ENW 0444', None, None, '27', None, 1, 1, 0),
 (10919, 'Winter2015', 'Gita   Rajan', 'Introduction to Literary and Cultural Studies', '02', 'EN 0101', None, None, '26', None, 20, 9, 11),
 (10920, 'Winter2015', 'Kathleen A.  Wheeler', 'DNP Immersion', 'D01', 'NS 0687', None, None, '60', None, 30, 4, 26),
 (11601, 'Winter2016', 'Yasin   Ozcelik', 'Information Systems and Database Management', '01', 'IS 0500', '104', '42434', '47', None, 20, 11, 9),
 (11603, 'Winter2016', 'Lisa M.  Sticca-Conrod', 'Business Ethics', 'OL1', 'AE 0291', None, None, '2', None, 25, 17, 8),
 (11604, 'Winter2016', 'Lauren Elise  Cesiro', 'History of Photography', 'OL1', 'AH 0172', None, None, '3', None, 25, 21, 4),
 (11605, 'Winter2016', 'Thomas B.  Cunningham', 'Ecology and Society', 'OL1', 'BI 0075', None, None, '10', None, 20, 21, -1),
 (11606, 'Winter2016', 'William F.  Vasquez Mazariegos', 'Introduction to Microeconomics', 'OL1', 'EC 0011', None, None, '20', None, 25, 12, 13),
 (11607, 'Winter2016', 'Gita   Rajan', 'Introduction to Literary and Cultural Studies', 'OL1', 'EN 0101', None, None, '26', None, 25, 22, 3),
 (11608, 'Winter2016', 'Brian Q.  Torff', 'The History of Jazz', 'A', 'MU 0101', '98', '42421', '59', None, 15, 13, 2),
 (11609, 'Winter2016', 'Lucrecia   Garcia Iommi', 'United States Foreign Policy', 'OL1', 'PO 0133', None, None, '67', None, 25, 20, 5),
 (11610, 'Winter2016', 'Joachim   Kuhn', 'The Nature of the Universe', 'OL1', 'PS 0078', None, None, '68', None, 25, 23, 2),
 (11611, 'Winter2016', 'Dorothea D.  Braginsky', 'Fundamentals of Social Psychology', 'OL1', 'PY 0121', None, None, '69', None, 25, 21, 4),
 (11612, 'Winter2016', 'Kathryn J.  Yarrington', 'Introduction to Drawing', 'A', 'SA 0012', '134', '42421', '75', '5', 15, 9, 6),
 (11613, 'Winter2016', 'Rose P.  Rodrigues', 'Criminal Justice System Seminar', 'A', 'SO 0279', '62', '42421', '78', None, 15, 11, 4),
 (11614, 'Winter2016', 'Sharlene A.  McEvoy', 'Legal Environment of Business', 'A', 'BU 0211', '8', '42421', '12', None, 25, 25, 0),
 (11615, 'Winter2016', 'Lisa A.  Mainiero', 'Leadership', '01', 'MG 0500', '7', '42434', '55', None, 15, 11, 4),
 (11616, 'Winter2016', 'Erik J.  Ranstrom', 'Exploring Religion: Religion in a Comparative Key', 'OL1', 'RS 0101D', None, None, '73', None, 20, 14, 6),
 (11617, 'Winter2016', 'Janet   Huetteman', 'Advertising Management', '01', 'MK 0540', '8', '42434', '56', None, 20, 5, 15),
 (11618, 'Winter2016', 'Dawn W  Massey', 'Issues in Internal Audit', '01', 'AC 0555', '6', '42417', '1', None, 25, 9, 16),
 (11619, 'Winter2016', 'Milo William  Peck', 'State and Local Taxation', '01', 'TX 0540', '6', '42442', '82', None, 25, 12, 13),
 (11620, 'Winter2016', 'Joyce Muriel  Shea', 'DNP Immersion', '01', 'NS 0687', None, None, '60', None, 20, 4, 16),
 (11622, 'Winter2016', 'Margaret A.  Wills', 'Family Communication', 'A', 'CO 0246', '24', '42421', '17', None, 15, 15, 0),
 (11625, 'Winter2016', 'Sonya R.  Huber', 'Independent Writing Project', 'SH', 'ENW 0347', None, None, '27', None, 0, 2, -2),
 (11626, 'Winter2016', 'Diana R.  Mager', 'Independent Study', 'DM', 'NS 0399', None, None, '60', None, 0, 1, -1),
 (11627, 'Winter2016', 'Thomas B.  Cunningham', 'Ecology and Society', 'OL2', 'BI 0075', None, None, '10', None, 20, 20, 0),
 (11628, 'Winter2016', 'David   Gudelunas', 'Independent Study', 'DG', 'CO 0397', None, None, '17', None, 0, 1, -1),
 (11629, 'Winter2016', 'William F.  Vasquez Mazariegos', 'Independent Study', 'WVM', 'EC 0298', None, None, '20', None, 0, 1, -1),
 (11630, 'Winter2016', 'Margaret A.  Wills', 'General Studies Senior Project', 'MW', 'GS 0399', None, None, '36', None, 0, 1, -1)]

In [32]:
%%sql
-- Record Counts for Fees1
SELECT Count(*) FROM Fees1 as 'FeeCount'
   ;

 * sqlite:///CourseDataWarehouse.db
Done.

[(250,)]

In [33]:
%%sql
-- Record Counts for Meeting
SELECT Count(*) FROM Meeting as 'MeetingCount'
   ;

 * sqlite:///CourseDataWarehouse.db
Done.

[(42551,)]

In [34]:
%%sql
-- Record Counts for Program1
SELECT Count(*) FROM Program1 as 'ProgramCount'
   ;

 * sqlite:///CourseDataWarehouse.db
Done.

[(83,)]

In [35]:
%%sql
-- Record Counts for Location
SELECT Count(*) FROM Location as 'LocationCount'
   ;

 * sqlite:///CourseDataWarehouse.db
Done.

[(207,)]

In [36]:
%%sql
-- Record Counts for Course_Facts
SELECT Count(*) FROM Course_Facts as 'FactsCount'
   ;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1228773,)]

**Drop Import Tables and Database Tables**

In [37]:
%%sql
DROP TABLE IF EXISTS Courses;
DROP TABLE IF EXISTS Course_Meeting;
DROP TABLE IF EXISTS Catalog;
DROP TABLE IF EXISTS Program;
DROP TABLE IF EXISTS Fees;


DROP TABLE IF EXISTS IMPORT_COURSE_OFFERINGS;
DROP TABLE IF EXISTS IMPORT_COURSE_MEETINGS;
DROP TABLE IF EXISTS IMPORT_CATALOG_COURSES;

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Drop ALL Tables ONLY RUN BEFORE SYNCING WITH GITHUB

In [37]:
%%sql
DROP TABLE IF EXISTS Course_Facts;
DROP TABLE IF EXISTS Meeting;
DROP TABLE IF EXISTS Fees1;
DROP TABLE IF EXISTS Program1;
DROP TABLE IF EXISTS Location;

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.

[]

##### Vacuum the database to reduce the size

In [38]:
%%sql
Vacuum;

 * sqlite:///CourseDataWarehouse.db
Done.

[]